@font-face {
  font-family: 'my_small_webfonts';
  src: url("../font/my_small_webfonts.eot?38642533");
  src: url("../font/my_small_webfonts.eot?38642533#iefix") format("embedded-opentype"), url("../font/my_small_webfonts.woff?38642533") format("woff"), url("../font/my_small_webfonts.ttf?38642533") format("truetype"), url("../font/my_small_webfonts.svg?38642533#my_small_webfonts") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "my_small_webfonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-mail:before {
  content: '\e800';
}

.icon-user-male:before {
  content: '\e801';
}

.icon-cancel-circled:before {
  content: '\e802';
}

.icon-cancel:before {
  content: '\e803';
}

.icon-help-circled-alt:before {
  content: '\e804';
}

.icon-help-circled:before {
  content: '\e805';
}

.icon-info-circled:before {
  content: '\e806';
}

.icon-info-circled-alt:before {
  content: '\e807';
}

.icon-download:before {
  content: '\e808';
}

.icon-link:before {
  content: '\e809';
}

.icon-eye:before {
  content: '\e80a';
}

.icon-attention-alt:before {
  content: '\e80b';
}

.icon-attention:before {
  content: '\e80c';
}

.icon-location:before {
  content: '\e80d';
}

.icon-chat:before {
  content: '\e80e';
}

.icon-comment:before {
  content: '\e80f';
}

.icon-down-open:before {
  content: '\e810';
}

.icon-left-open:before {
  content: '\e811';
}

.icon-right-open:before {
  content: '\e812';
}

.icon-up-open:before {
  content: '\e813';
}

.icon-down:before {
  content: '\e814';
}

.icon-left:before {
  content: '\e815';
}

.icon-right:before {
  content: '\e816';
}

.icon-up:before {
  content: '\e817';
}

.icon-movie:before {
  content: '\e818';
}

.icon-videocam:before {
  content: '\e819';
}

.icon-desktop:before {
  content: '\e81a';
}

.icon-laptop:before {
  content: '\e81b';
}

.icon-tablet:before {
  content: '\e81c';
}

.icon-mobile:before {
  content: '\e81d';
}

.icon-off:before {
  content: '\e81e';
}

.icon-vkontakte:before {
  content: '\e81f';
}

.icon-help:before {
  content: '\e820';
}

.icon-info:before {
  content: '\e821';
}

.icon-home:before {
  content: '\e822';
}

.icon-resize-full-alt:before {
  content: '\e823';
}

.icon-resize-small-alt:before {
  content: '\e824';
}

.icon-loop-alt:before {
  content: '\e825';
}

.icon-loop:before {
  content: '\e826';
}

.icon-menu:before {
  content: '\e827';
}

.icon-menu-1:before {
  content: '\e828';
}

.icon-cog:before {
  content: '\e829';
}

.icon-wrench:before {
  content: '\e82a';
}

.icon-chat-empty:before {
  content: '\e82b';
}

.icon-skype:before {
  content: '\e82c';
}

.icon-phone:before {
  content: '\e82d';
}

.icon-html5:before {
  content: '\e82e';
}

.icon-css3:before {
  content: '\e82f';
}

html, body {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

a {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px dotted #fefefe;
}
a:hover {
  border-bottom: 1px solid #fefefe;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg_abs5.jpg") center top no-repeat;
  width: 100%;
  height: 100%;
}

#container {
  z-index: 1;
  display: table;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
#container #inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#container #inner #content {
  display: inline-block;
  text-align: left;
  position: relative;
  color: #fefefe;
}

.menu {
  margin: 10px 0;
  width: 800px;
  height: 400px;
  overflow: hidden;
  display: block;
  backgrond: #ff0000;
  position: relative;
}
.menu .item {
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
}
.menu .item .label {
  width: 100%;
  height: 100%;
  display: table;
  cursor: pointer;
  font-size: 5em;
}
.menu .item .label .labelContent {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 0.25em;
}
.menu .item .label .labelContent [class^="icon-"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 1em;
  font-size: 4em;
  line-height: 0.8em;
}
.menu .item .textBlock {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
}
.menu .item .textBlock i {
  font-size: 1.15em;
}
.menu .item .textBlock .photo {
  float: left;
  width: 110px;
  height: 160px;
  margin-right: 20px;
}

.subMenu {
  width: 800px;
  height: 80%;
  position: relative;
}
.subMenu .subItem {
  position: absolute;
  display: table;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.subMenu .subItem .itemLabel {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  position: relative;
}
.subMenu .subItem .itemLabel i {
  display: block;
  font-size: 2.5em;
  margin-top: -40px;
}
.subMenu .subItem .itemLabel a {
  color: #fefefe;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  text-decoration: none;
}
.subMenu .subItem .itemLabel a.off {
  color: #c0392b;
  cursor: not-allowed;
}

.backLink {
  display: table;
  position: absolute;
  left: -60px;
  top: 10px;
  z-index: 999;
  width: 60px;
  height: 400px;
  background: rgba(44, 62, 80, 0.3);
}
.backLink .container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
}
.backLink:hover {
  background: rgba(44, 62, 80, 0.9);
}

.menu .item:nth-child(4) {
  background-color: #e74c3c;
  background-image: -webkit-gradient(linear, left top, right top, from(#e43321), to(#e74c3c));
  background-image: -webkit-linear-gradient(bottom, #e43321, #e74c3c);
  background-image: -webkit-linear-gradient(left, #e43321, #e74c3c);
  background-image: linear-gradient(to right, #e43321, #e74c3c);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e43321', EndColorStr='#e74c3c');
  /*&:hover {
    background: lighten($color, 5%);  
  }*/
}
.menu .item:nth-child(4) .subItem:hover {
  cursor: pointer;
  background: #d62c1a;
}

.menu .item:nth-child(2) {
  background-color: #2ecc71;
  background-image: -webkit-gradient(linear, left top, right top, from(#28b363), to(#2ecc71));
  background-image: -webkit-linear-gradient(bottom, #28b363, #2ecc71);
  background-image: -webkit-linear-gradient(left, #28b363, #2ecc71);
  background-image: linear-gradient(to right, #28b363, #2ecc71);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#28b363', EndColorStr='#2ecc71');
  /*&:hover {
    background: lighten($color, 5%);  
  }*/
}
.menu .item:nth-child(2) .subItem:hover {
  cursor: pointer;
  background: #25a25a;
}

.menu .item:nth-child(3) {
  background-color: #3498db;
  background-image: -webkit-gradient(linear, left top, right top, from(#2489cc), to(#3498db));
  background-image: -webkit-linear-gradient(bottom, #2489cc, #3498db);
  background-image: -webkit-linear-gradient(left, #2489cc, #3498db);
  background-image: linear-gradient(to right, #2489cc, #3498db);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2489cc', EndColorStr='#3498db');
  /*&:hover {
    background: lighten($color, 5%);  
  }*/
}
.menu .item:nth-child(3) .subItem:hover {
  cursor: pointer;
  background: #217dbb;
}

.menu .item:nth-child(1) {
  background-color: #9b59b6;
  background-image: -webkit-gradient(linear, left top, right top, from(#8c49a7), to(#9b59b6));
  background-image: -webkit-linear-gradient(bottom, #8c49a7, #9b59b6);
  background-image: -webkit-linear-gradient(left, #8c49a7, #9b59b6);
  background-image: linear-gradient(to right, #8c49a7, #9b59b6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8c49a7', EndColorStr='#9b59b6');
  /*&:hover {
    background: lighten($color, 5%);  
  }*/
}
.menu .item:nth-child(1) .subItem:hover {
  cursor: pointer;
  background: #804399;
}

/*# sourceMappingURL=style.css.map */